.header-nav{
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.header-text{
  font-size: 40px;
  font-family: Georgia, serif;
  text-decoration: none;
  color: black;
}

.nav-link{
  text-decoration: none;
  color: black;
  font-family: Georgia, serif;
}

body{
  margin: 0;
  padding: 0;
}